/* feuille de style */ 

#joueur1
{
    visibility:visible;
}

#joueur2
{
    visibility:hidden;
}

#echaffaud
{
    background-color:lightgrey;
    margin:auto;
    visibility:visible;
    opacity: 0.5;
}

#restart,#hell{
    visibility:hidden;
}

.print{
    font-size:8rem;
}

h1{
    font-size:3rem !important;
    background-color: rgba(38, 214, 61, 0.5);
}

body{
    background-image: url("western.jpg");
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}
